// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";


table, caption, th, td {

    border: 2px solid #000000;
      border-collapse: collapse;
    
    }
    caption, th, td {
    
    padding: 8px;
    
    }
    